In [4]:
import pandas as pd

In [5]:
pd.__version__

'1.5.2'

In [6]:
# panad is a convient way of dealing with tabular data csv file is tabular data thats why we are going to use it

In [7]:
df = pd.read_csv('2021_Yellow_Taxi_Trip_Data.csv', nrows = 100)

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
# now we parsed these two columns as datetime and write back to data frame

In [13]:
# print(df)

In [ ]:
# create connection to postgres

In [9]:
# next take this dataset and put it to our postgres for that we need first generate schema as instruction like create 
# table specify what types of columns are there and so on for that import a module called ioa

In [10]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [18]:
# from above statement we see that those two columns was a text now we re run the above statement to check if those columns
# changed to timestamp or not
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [ ]:
# those above two columsn tpep_pickup_datetime" TIMESTAMP and "tpep_dropoff_datetime" TIMESTAMP changed to timestamp
# now we need to generate DDL statement by creating table statement something that postgres understand.
# for that we need to tell pandas that we need to put in postgres then it will generate statements that works for postgres
# for that we need to create a connection to postgres and then it will generate statement specifically for postgres
# for creating this connection panda use a library called "SQLAlchemy" for dealing with SQL. if you have anaconda it is 
# already installed otherwise use "pip install sqlalchemy" to install it
# for my case i check in the data-eng-venv i have or no if no i use pip to install it

In [26]:
from sqlalchemy import create_engine

In [27]:
# in engine we need to specify the type of database => user=> password=> hostname=>port=>database name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# as i get the error "No module named 'psycopg2'"
# question it must install within docker containder? or in "data-eng-venv"? is it important where we install it?

In [ ]:
# pip install psycopg2-binary

In [28]:
engine.connect()

In [31]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))
# now we need to specify the connectiontion that we have created
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))
# now we have definition in postgres dialac

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [ ]:
# now we are ready with the data
# as the entire dataset is more than one milion so we dont need to insert all the data at once to our database ande
# we dont know how our database react we are going to chunk the data using pandas iterator and insert chunk csv file to
# small dataframes

In [32]:
# chunk csv file to smaller data frame using iterator = True then choose chuck size by getting help press 
# "shift+tab"
df_iter = pd.read_csv('2021_Yellow_Taxi_Trip_Data.csv', iterator=True, chunksize=100000)

In [33]:
# if i print it it shows that it is not an data frame but it is an iterator
df_iter

In [34]:
# now for taking first chunk we use the below code
df = next(df_iter)

In [35]:
# check the size of this df
len(df)
# the size of this df is exactly 1000000

100000

In [36]:
# to be sure that it is time stamp we use the below code
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [40]:
# return only first 5 records
# df.head()
# if we specify n= 1 it returns only first record
# i want create a table first on column name but not insert the data
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
# executed succesfully
# now i go docker container "pgcli" check what kinds of table we have
# raisi@raisi-ThinkPad-E14-Gen-4:~/datascience-prj/DataTalksClub/data-engineering/week_1_basics_n_setup/2_docker_sql$ pgcli -h localhost -p 5432 -u root -d ny_taxi

# root@localhost:ny_taxi> \dt
# now \dt in pgcli return the name of table 
# +--------+------------------+-------+-------+
# | Schema | Name             | Type  | Owner |
# |--------+------------------+-------+-------|
# | public | yellow_taxi_data | table | root  |
# +--------+------------------+-------+-------+

0

In [ ]:
# we can also describe the table using below code
# root@localhost:ny_taxi>  \d yellow_taxi_data
# it return the below information
# +-----------------------+-----------------------------+-----------+
# | Column                | Type                        | Modifiers |
# |-----------------------+-----------------------------+-----------|
# | index                 | bigint                      |           |
# | VendorID              | bigint                      |           |
# | tpep_pickup_datetime  | timestamp without time zone |           |
# | tpep_dropoff_datetime | timestamp without time zone |           |
# | passenger_count       | bigint                      |           |
# | trip_distance         | double precision            |           |
# | RatecodeID            | bigint                      |           |
# | store_and_fwd_flag    | text                        |           |
# | PULocationID          | bigint                      |           |
# | DOLocationID          | bigint                      |           |
# | payment_type          | bigint                      |           |
# | fare_amount           | double precision            |           |
# | extra                 | double precision            |           |
# | mta_tax               | double precision            |           |
# | tip_amount            | double precision            |           |
# | tolls_amount          | double precision            |           |
# | improvement_surcharge | double precision            |           |
# :

In [ ]:
# from above we saw the schema that we have created
# now we are going to put some data in this table

In [41]:
# we use if_exists='append' we use it for inserting each chunk of data to the existen table
# use "%time" to tell us how much time it take to insert the data
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.54 s, sys: 13.9 ms, total: 2.55 s
Wall time: 4.81 s

1000

In [ ]:
# chunk inserted succesfully now going to pgcli to get count of inserted data using below query
# root@localhost:ny_taxi> select COUNT(1) from yellow_taxi_data
# result:
# +--------+
# | count  |
# |--------|
# | 100000 |
# +--------+
# SELECT 1
# Time: 0.019s

# now we insert the rest of dataset to our table

In [43]:
# to know how much time it will took we use
from time import time

In [ ]:
# for inserting all chunks to our table we use loop 

while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
#     to see how the process is going we do print
    print('inserted another chunk...., took %.3f second' % (t_end - t_start))

inserted another chunk...., took 14.222 second
inserted another chunk...., took 14.121 second
inserted another chunk...., took 13.899 second
inserted another chunk...., took 14.120 second
inserted another chunk...., took 13.933 second
inserted another chunk...., took 13.898 second
inserted another chunk...., took 14.064 second
inserted another chunk...., took 13.884 second
inserted another chunk...., took 13.870 second
inserted another chunk...., took 13.931 second
inserted another chunk...., took 13.947 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.757 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.544 second
inserted another chunk...., took 13.886 second
inserted another chunk...., took 14.106 second
inserted another chunk...., took 13.995 second
inserted another chunk...., took 13.887 second
inserted another chunk...., took 13.835 second
inserted another chunk...., took 13.897 second
inserted another chunk...., took 13.860 second
inserted another chunk...., took 13.866 second
inserted another chunk...., took 13.789 second
inserted another chunk...., took 14.004 second
inserted another chunk...., took 13.871 second
inserted another chunk...., took 13.865 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.584 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.669 second
inserted another chunk...., took 13.925 second
inserted another chunk...., took 13.789 second
inserted another chunk...., took 13.838 second
inserted another chunk...., took 14.004 second
inserted another chunk...., took 13.806 second
inserted another chunk...., took 13.821 second
inserted another chunk...., took 13.815 second
inserted another chunk...., took 13.876 second
inserted another chunk...., took 13.915 second
inserted another chunk...., took 13.926 second
inserted another chunk...., took 13.893 second
inserted another chunk...., took 13.804 second
inserted another chunk...., took 14.127 second
inserted another chunk...., took 13.968 second
inserted another chunk...., took 14.116 second
inserted another chunk...., took 14.089 second
inserted another chunk...., took 13.969 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.577 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.538 second
inserted another chunk...., took 14.039 second
inserted another chunk...., took 13.960 second
inserted another chunk...., took 13.899 second
inserted another chunk...., took 14.065 second
inserted another chunk...., took 14.301 second
inserted another chunk...., took 14.074 second
inserted another chunk...., took 13.958 second
inserted another chunk...., took 14.104 second
inserted another chunk...., took 13.941 second
inserted another chunk...., took 13.938 second
inserted another chunk...., took 14.063 second
inserted another chunk...., took 14.030 second
inserted another chunk...., took 14.020 second
inserted another chunk...., took 13.911 second
inserted another chunk...., took 14.029 second
inserted another chunk...., took 13.977 second
inserted another chunk...., took 13.963 second
inserted another chunk...., took 14.023 second
inserted another chunk...., took 13.856 second
inserted another chunk...., took 13.848 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.424 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.901 second
inserted another chunk...., took 13.915 second
inserted another chunk...., took 13.961 second
inserted another chunk...., took 13.963 second
inserted another chunk...., took 13.890 second
inserted another chunk...., took 13.935 second
inserted another chunk...., took 13.972 second
inserted another chunk...., took 14.010 second
inserted another chunk...., took 14.264 second
inserted another chunk...., took 13.878 second
inserted another chunk...., took 14.035 second
inserted another chunk...., took 14.826 second
inserted another chunk...., took 13.911 second
inserted another chunk...., took 13.941 second
inserted another chunk...., took 13.874 second
inserted another chunk...., took 14.097 second
inserted another chunk...., took 14.266 second
inserted another chunk...., took 16.064 second
inserted another chunk...., took 14.732 second
inserted another chunk...., took 15.537 second
inserted another chunk...., took 13.824 second
inserted another chunk...., took 13.814 second
inserted another chunk...., took 14.033 second
inserted another chunk...., took 13.848 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.237 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.870 second
inserted another chunk...., took 13.902 second
inserted another chunk...., took 13.810 second
inserted another chunk...., took 13.875 second
inserted another chunk...., took 13.813 second
inserted another chunk...., took 13.732 second
inserted another chunk...., took 13.880 second
inserted another chunk...., took 13.987 second
inserted another chunk...., took 13.841 second
inserted another chunk...., took 13.839 second
inserted another chunk...., took 13.796 second
inserted another chunk...., took 13.853 second
inserted another chunk...., took 13.789 second
inserted another chunk...., took 13.835 second
inserted another chunk...., took 13.796 second
inserted another chunk...., took 13.988 second
inserted another chunk...., took 13.818 second
inserted another chunk...., took 13.817 second
inserted another chunk...., took 13.819 second
inserted another chunk...., took 13.836 second
inserted another chunk...., took 13.819 second
inserted another chunk...., took 13.799 second
inserted another chunk...., took 13.875 second
inserted another chunk...., took 13.794 second
inserted another chunk...., took 14.063 second
inserted another chunk...., took 13.853 second
inserted another chunk...., took 13.935 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.683 second

/tmp/ipykernel_194497/3378474225.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...., took 13.504 second
inserted another chunk...., took 13.856 second
inserted another chunk...., took 13.898 second
inserted another chunk...., took 13.847 second
inserted another chunk...., took 13.834 second
inserted another chunk...., took 13.847 second
inserted another chunk...., took 13.890 second
inserted another chunk...., took 14.173 second
inserted another chunk...., took 13.906 second
inserted another chunk...., took 13.971 second
inserted another chunk...., took 13.939 second
inserted another chunk...., took 13.883 second
inserted another chunk...., took 13.896 second
inserted another chunk...., took 13.856 second
inserted another chunk...., took 13.859 second
inserted another chunk...., took 13.831 second
inserted another chunk...., took 14.098 second
inserted another chunk...., took 13.836 second
inserted another chunk...., took 13.849 second
inserted another chunk...., took 13.941 second
inserted another chunk...., took 13.880 second
inserted another chunk...., took 13.966 second
inserted another chunk...., took 13.733 second
inserted another chunk...., took 14.046 second
inserted another chunk...., took 13.821 second

# this is the end of video 1.2.2 - ingesting ny taxi data to postgres

In [ ]:
# 1- we runned postgres using docker
# 2- we runned it locally
# 3- we are able to connect to this database
# 4- we took a look to the data we use throughout the course
# 5- we started to put this data to our postgres database

# in next video we will use pgadmin to connect to our database which is more convenient than using pgcli