In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
# df = pd.read_csv('2021_Yellow_Taxi_Trip_Data.csv', nrows=100)
df = pd.read_csv('yellow_taxi_trip_data_reduced.csv')

In [4]:
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,399995,1,2021-01-11 17:30:00,2021-01-11 17:45:11,1,3.30,1,N,162,238,1,13.0,3.5,0.5,3.45,0.0,0.3,20.75,2.5
399996,399996,1,2021-01-11 17:47:34,2021-01-11 17:59:56,1,2.60,1,N,151,141,1,11.0,3.5,0.5,1.50,0.0,0.3,16.80,2.5
399997,399997,2,2021-01-11 17:08:54,2021-01-11 17:19:57,6,1.98,1,N,161,234,1,9.5,1.0,0.5,2.76,0.0,0.3,16.56,2.5
399998,399998,2,2021-01-11 17:30:28,2021-01-11 17:40:21,6,2.13,1,N,161,142,1,9.5,1.0,0.5,2.76,0.0,0.3,16.56,2.5
399999,399999,2,2021-01-11 17:42:37,2021-01-11 17:48:55,6,1.48,1,N,142,237,1,7.0,1.0,0.5,2.26,0.0,0.3,13.56,2.5

In [5]:
# df = pd.read_csv('2021_Yellow_Taxi_Trip_Data.csv', nrows=400000)b

In [6]:
# df.to_csv('yellow_taxi_trip_data_reduced.csv')

In [7]:
# what we can do next take this dataset and put it to our posgtres database
# for that what we need firs we have to generate schema like create table

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"Unnamed: 0" INTEGER,
  "VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [25]:
import sqlalchemy
sqlalchemy.__version__

'2.0.4'

In [9]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [13]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [14]:
df_iter = pd.read_csv('yellow_taxi_trip_data_reduced.csv', iterator=True, chunksize=100000)

In [15]:
df_iter
# it show this is not a data frame it is an iterator

In [16]:
df = next(df_iter)

In [17]:
len(df)

100000

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2,2021-01-04 13:45:19,2021-01-04 13:55:27,1,2.03,1,N,43,237,1,9.5,0.0,0.5,2.56,0.00,0.3,15.36,2.5
99996,99996,2,2021-01-04 13:57:16,2021-01-04 14:11:01,1,2.39,1,N,163,239,1,11.0,0.0,0.5,2.86,0.00,0.3,17.16,2.5
99997,99997,2,2021-01-04 13:23:23,2021-01-04 13:39:06,1,8.15,1,N,138,262,1,23.5,0.0,0.5,6.58,6.12,0.3,39.50,2.5
99998,99998,2,2021-01-04 13:18:40,2021-01-04 13:26:28,1,1.22,1,N,237,236,1,7.0,0.0,0.5,2.06,0.00,0.3,12.36,2.5
99999,99999,2,2021-01-04 13:52:38,2021-01-04 13:56:19,1,0.91,1,N,186,234,2,5.0,0.0,0.5,0.00,0.00,0.3,8.30,2.5

In [20]:
# insert data to the database, first it will create table and then
# insert all the datas

In [21]:
# class TeradataCompiler:
#     def __init__(self, dialect, statement, **kwargs):
#         super(TeradataCompiler, self).__init__(dialect, statement, **kwargs)

In [22]:

%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

1000

In [27]:
from time import time

In [28]:
while True:
    
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    print('inserted another chunk...., took %.3f second' %(t_end - t_start))

inserted another chunk...., took 5.582 second
inserted another chunk...., took 5.471 second
inserted another chunk...., took 5.545 second

StopIteration:

In [3]:
# download the taxi+_zone_lookup.csv data
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-02-22 16:55:10--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.198.104, 54.231.132.16, 52.217.98.134, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.198.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: â€˜taxi+_zone_lookup.csvâ€™

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,001s

2023-02-22 16:55:11 (19,4 MB/s) - â€˜taxi+_zone_lookup.csvâ€™ saved [12322/12322]

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
# puting this into our postgres
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265